<div class="main-container">
    <div class="container-xl">
        <div class="holder row justify-content-center align-items-center">
            <!-- Left image -->
            <div class="part-container row justify-content-between">
                
                <div class="left-wing d-flex justify-content-center align-items-center col-12 col-md-6">
                    <img class="left-img" src="/images/lush-green-mountain.png" height="590px" width="750px" alt="">
                    <div class="sign-prompt d-flex flex-column justify-content-center align-items-center">
                        <h1 class="text-style mb-2">New Here?</h1>
                        <h5 class="text-style mb-5">Sign up now</h5>
                        <a href="/register"><div class="btn btn-primary">Take me to sign up</div></a>
                    </div>
                </div>
                <div class="right-wing col-12 col-md-6 d-flex flex-column">
                    <h1 class="text-center mt-5 mb-5 page-text head-title">Login</h1>
                    <form action="/" method="post" class="sign-body d-flex flex-column gap-4">
                        <div class="mb-2 form-group">
                            <label for="name" class="form-label fs-5 fw-medium page-text">Username</label>
                            <input type="text" class="form-box rounded-2" name="username"
                                placeholder="Enter your username" required>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="password" class="form-label fs-5 fw-medium page-text">Password</label>
                            <input type="password" name="password" class="form-box rounded-2"
                                placeholder="Enter your password" required>
                        </div>
                        <p class="text-danger"><%= loginError %></p>
                        <button type="submit" id="sign-button" class="btn mb-5">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
